#page-auth {
  display: flex; //criando componente pai como flexivel
  align-items: stretch;
  height: 100vh; //dando altura de 100% da tela
}

aside {
  flex: 7; //dividindo a tela com os dois containers filhos aside e main

  background-color: #835afd; //cor de fundo
  color: #fff; //font

  display: flex; //fazendo com que seus filhos fiquem flex
  flex-direction: column; //alinhamento dos container em coluna
  justify-content: center; //alinhamento ao centro

  padding: 120px 80px; //dando preenchimento ao container 120 em cima 80 dos lados

  img {
    width: 350px; //dando largura maxima ao container
  }

  strong {
    font: 700 36px "Poppins", sans-serif;
    line-height: 42px;
    margin-top: 16px;
  }

  p{
    color: white;
    font-size: 20px;
  }
}

main {
  flex: 8;

  padding: 0 32px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
  align-items: stretch;
  text-align: center;

  > img {
    align-self: center;
  }

  h2 {
    font-size: 24px;
    margin: 64px 0 24px;
    font-family: "Poppins", sans-serif;
  }
}
///FORMULARIO/////////
form {
  input {
    height: 50px;
    border-radius: 8px;
    padding: 0 16px;
    background-color: #fff;
    border: 1px solid #a8a8b3;
  }
  button {
    margin-top: 16px;
  }

  button,
  input {
    width: 100%;
  }
}

p {
  font-size: 14px;
  color: #737380;
  margin-top: 16px;
}

a {
  color: #e559f9;
}

.create-room {
  margin-top: 65px;
  height: 50px;
  border-radius: 8px;
  font-weight: 500;
  background-color: #ea4335;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: 0;

  img {
    margin-right: 8px;
  }

  &:hover {
    filter: brightness(0.9);
  }
}

.separator {
  font-size: 14px;
  color: #a8a8b3;

  margin: 32px 0;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    flex: 1;
    height: 1px;
    background-color: #a8a8b3;
    margin-right: 16px;
  }

  &::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: #a8a8b3;
    margin-left: 16px;
  }
}
